*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: pink;
}
.Heading{
    background-color: lightcoral;
    text-align: center;
    font-family:  Brush Script MT, cursive;
    font-size: xx-large;
   
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 25px;
    
}
img{
    width: 100%;
    height: 100%;
   
}
.text{
    background-color: red;
}
.Heading2{
    display: flex;
    justify-content: center;
    font-family:  Brush Script MT, cursive;
    font-size: xx-large;
    height: 100px;
    
}
main h2{
    color:blue;
    display: flex;
    justify-content: center;
    font-family:  Brush Script MT, cursive;
    font-size: 45px;
}
p{
    text-align: center;
    font-style: italic;
    font-size: 20px;
    line-height: 25px;
    background-color: white;
    border-style: dashed;
    border-color: red;
   
    
}
h3{
    color:blue;
    display: flex;
    justify-content: center;
    font-family:  Brush Script MT, cursive;
    font-size: 200px; 
}
video{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-style: dashed;
    border-width: 20px;
    border-color: red;
}

